#menu{
	background-color: #4e9a06;
}

nav a{
	
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding: 15px;
}
nav a:hover{
	color: yellow;
}
div ul li a{
   
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding: 15px;
}
 div ul li a:hover{
    
    color: yellow;
}

.table-container{
	width:95%;
	margin: 20px 20px 10px 35px;
}

#country12{
	background-color: #4e9a06;
}